@using IHFF.Models;

@model EventListRepresentation

@Styles.Render("~/Content/overview.css")

@if (Model.culture != null) //Museum
{
    <h2>@Model.culture.Naam</h2>
    using (Html.BeginForm("DeleteMuseum", "Employee", FormMethod.Post))
    {
        @Html.Hidden("id", Model.culture.MuseumID)
        <input class="btnfestival" type="submit" value="Delete Museum" />
    }
    using (Html.BeginForm("ManagementWindow", "Employee", FormMethod.Get))
    {
        <input class="btnfestival" type="submit" value="Cancel" />
    }
    <br />
}
else if (Model.item is Movie) //Movie
{
    <h2>@Model.item.Titel</h2>
    using (Html.BeginForm("DeleteMovie", "Employee", FormMethod.Post))
    {
        @Html.Hidden("id", Model.item.ItemID)
        <input class="btnfestival" type="submit" value="Delete Movie" />
    }
    using (Html.BeginForm("ManagementWindow", "Employee", FormMethod.Get))
    {
        <input class="btnfestival" type="submit" value="Cancel" />
    }
    <br />

}
else if (Model.restaurant != null) //Restaurant
{
    <h2>@Model.restaurant.Naam</h2>
    using (Html.BeginForm("DeleteRestaurant", "Employee", FormMethod.Post))
    {
        @Html.Hidden("id", Model.restaurant.RestaurantID)
        <input class="btnfestival" type="submit" value="Delete Restaurant" />
    }
    using (Html.BeginForm("ManagementWindow", "Employee", FormMethod.Get))
    {
        <input class="btnfestival" type="submit" value="Cancel" />
    }
    <br />

}
else if (Model.hotel != null)
{
    <h2>@Model.hotel.Naam</h2>
    using (Html.BeginForm("DeleteHotel", "Employee", FormMethod.Post))
    {
        @Html.Hidden("id", Model.hotel.HotelId)
        <input class="btnfestival" type="submit" value="Delete Hotel" />
    }
    using (Html.BeginForm("ManagementWindow", "Employee", FormMethod.Get))
    {
        <input class="btnfestival" type="submit" value="Cancel" />
    }
    <br />
}
else //Special
{
    <h2>@Model.item.Titel</h2>
                using (Html.BeginForm("DeleteSpecial", "Employee", FormMethod.Post))
                {
                    @Html.Hidden("id", Model.item.ItemID)
                    <input class="btnfestival" type="submit" value="Delete Special" />
    }
    using (Html.BeginForm("ManagementWindow", "Employee", FormMethod.Get))
    {
        <input class="btnfestival" type="submit" value="Cancel" />
    }
    <br />

}
