@using IHFF.Models.Input;

@{
    ViewBag.Title = "AddMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/EditPages.css")



@model MovieInputModel
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <h2>Add Movie</h2>
    <input type="Submit" value="Add movie" formmethod="Post" class="Edit-update" size="30" />

    <p>
        @Html.LabelFor(m => m.Titel):
        @Html.TextBoxFor(m => m.Titel)
    </p>

    <img class="bannerimg" src=@Model.ItemAfbeelding.Link />
    <p>
        @Html.LabelFor(m => m.ItemAfbeelding.Link):
        @Html.TextBoxFor(m => m.ItemAfbeelding.Link, new { @Size = 30 })

        @Html.DropDownListFor(h => h.Highlight, new SelectList(new[]
    {
    new SelectListItem { Value = "False", Text="False", Selected = true},
    new SelectListItem { Value = "True", Text="True"},
    },
    "Value",
    "Text"
    ), new { @Class = "DropDownHighlight" })

        @Html.LabelFor(m => m.Highlight, "Highlight: ", new { @Class = "DropDownHighlight" })
    </p>
    <section class="summary">
        <h3>Summary</h3>
        @Html.TextAreaFor(m => m.Omschrijving, new {@Rows = 8, @cols = 40 })
    </section>
    <section class="info">
        <h3>Info</h3>
        <table>
            <tr>
                <td> @Html.LabelFor(m => m.Rating):</td>
                <td> @Html.TextBoxFor(m => m.Rating, new {@Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Director):</td>
                <td> @Html.TextBoxFor(m => m.Director, new {@Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Writers):</td>
                <td> @Html.TextBoxFor(m => m.Writers, new {@Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Stars):</td>
                <td> @Html.TextBoxFor(m => m.Stars, new {@Size = 30 }) </td>
            </tr>
        </table>
    </section>
}

