@using IHFF.Models.Input;
@{
    ViewBag.Title = "AddRestaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RestaurantInputModel

@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/EditPages.css")



@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <h2>Add Restaurant</h2>
    <input type="Submit" value="Add restaurant" formmethod="Post" class="Edit-update" size="30" />
    <p>
        @Html.LabelFor(m => m.Naam):
        @Html.TextBoxFor(m => m.Naam, new { @Size = 30 })
    </p>

    <img class="bannerimg" width="700" height="350" src="" />
    <p>
        @Html.Label("Link"):
        @Html.TextBox("afbLink", null, new { @Size = 30 })
    </p>

    <section class="summary">
        <h3>Summary</h3>
        @Html.TextAreaFor(m => m.Omschrijving, new { @Rows = 8, @cols = 40 })
    </section>

        <section class="info">

            <h3>Info</h3>
            <table>
                <tr>
                    <td> @Html.LabelFor(m => m.Telefoon):</td>
                    <td> @Html.TextBoxFor(m => m.Telefoon, new { @Size = 30 })</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.Website):</td>
                    <td> @Html.TextBoxFor(m => m.Website, new { @Size = 30 })</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.Email):</td>
                    <td> @Html.TextBoxFor(m => m.Email)</td>
                </tr>
            </table>                       
            <h3>Location</h3>
            <table>
                <tr>
                    <td> @Html.LabelFor(m => m.RestaurantLocatie.Straat)</td>
                    <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Straat)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.RestaurantLocatie.Huisnummer)</td>
                    <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Huisnummer, null, new { @type = "number" })</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.RestaurantLocatie.Toevoeging)</td>
                    <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Toevoeging)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.RestaurantLocatie.Postcode)</td>
                    <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Postcode)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.RestaurantLocatie.Plaats)</td>
                    <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Plaats)</td>
                </tr>
            </table>

        </section>

}