@using IHFF.Models;

@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/EditPages.css")
@{
    ViewBag.Title = "EditMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Movie
@Html.ValidationSummary()
@using (Html.BeginForm())
{
<h2>Edit Movie: @Model.Titel</h2>
<input type="Submit" value="Update movie" formmethod="Post" class="Edit-movie-update" size="30" />

    <p>
        @Html.LabelFor(m => m.Titel):
        @Html.TextBoxFor(m => m.Titel, new { @Value = Model.Titel })
    </p>
    
    <img class="bannerimg" src=@Model.ItemAfbeelding.Link />
    <p>
        @Html.LabelFor(m => m.ItemAfbeelding.Link):
        @Html.TextBoxFor(m => m.ItemAfbeelding.Link, new { @Value = Model.ItemAfbeelding.Link, @Size = 30 })
    </p>
    <section class="summary">
        <h3>Summary</h3>
        @Html.TextAreaFor(m => m.Omschrijving, new { @Value = Model.Omschrijving, @Rows = 8, @cols = 40 })
    </section>
    <section class="info">
        <h3>Info</h3>
        <table>
            <tr>
                <td> @Html.LabelFor(m => m.Rating):</td>
                     @{Html.EnableClientValidation(false);}
                <td> @Html.TextBoxFor(m => m.Rating, new { @Value = Model.Rating, @Size = 30 })</td>                    
            </tr>
            @{Html.EnableClientValidation(true);}
            <tr>
                <td> @Html.LabelFor(m => m.Director):</td>
                <td> @Html.TextBoxFor(m => m.Director, new { @Value = Model.Director, @Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Writers):</td>
                <td> @Html.TextBoxFor(m => m.Writers, new { @Value = Model.Writers, @Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Stars):</td>
                <td> @Html.TextBoxFor(m => m.Stars, new { @Value = Model.Stars, @Size = 30 }) </td>

            </tr>
        </table>
        
    </section>
}