@using IHFF.Models
@model NewsMessage

@Styles.Render("~/Content/NewsStyle.css")

@using (Html.BeginForm(FormMethod.Post))
{
    <br />
    <input type="submit" formmethod="post" value="Edit Message" />
    <br />
    <table>
        <tr>
            <td class="left">@Html.LabelFor(m => m.Title)</td>
            <td class="right">@Html.TextBoxFor(m => m.Title, new { @Value = Model.Title, @Size = 30, @placeholder = Model.Title })</td>
        </tr>
        <tr>
            <td class="left">@Html.LabelFor(m => m.Message)</td>
            <td class="right">@Html.TextAreaFor(m => m.Message, new { @Value = Model.Message, @Rows = 15, @Cols = 40, @placeholder = Model.Message }) </td>
        </tr>

    </table>
}