@using IHFF.Models.Input;
@{
    ViewBag.Title = "EditRestaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/EditPages.css")

@model RestaurantInputModel


@Html.ValidationSummary()
@using (Html.BeginForm())
{

    <h2>Edit Restaurant: @Model.Naam</h2>
    <input type="Submit" value="Update restaurant" formmethod="Post" class="Edit-update" size="30" />
    @Html.HiddenFor(m => m.LocatieID)
    @Html.HiddenFor(m => m.RestaurantID)
    <p>
        @Html.LabelFor(m => m.Naam):
        @Html.TextBoxFor(m => m.Naam, new { @Value = Model.Naam, @placeholder = "Example" })
    </p>
    if (Model.RestaurantAfbeelding != null)
    {
        <img class="bannerimg" src=@Model.RestaurantAfbeelding.Link />
        <p>
            @Html.LabelFor(m => m.RestaurantAfbeelding.Link, "Banner Picture Link"):
            @Html.TextBoxFor(m => m.RestaurantAfbeelding.Link, new { @Value = Model.RestaurantAfbeelding.Link, @Size = 30, @placeholder = Model.RestaurantAfbeelding.Link }) <br/>
            @Html.LabelFor(m => m.OverviewAfbeelding.Link, "Overview Picture Link"):
            @Html.TextBoxFor(m => m.OverviewAfbeelding.Link, new {@Size = 30, @placeholder = Model.OverviewAfbeelding.Link })
        </p>
    }
    <section class="summary">
        <h3>Summary</h3>
        @Html.TextAreaFor(m => m.Omschrijving, new { @Value = Model.Omschrijving, @Rows = 8, @cols = 40, @placeholder = Model.Omschrijving})
    </section>
    <section class="info">
        <h3>Info</h3>
        <table>
            <tr>
                <td> @Html.LabelFor(m => m.Telefoon):</td>
                <td> @Html.TextBoxFor(m => m.Telefoon, new { @Value = Model.Telefoon, @Size = 30 , @placeholder = Model.Telefoon})</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Email):</td>
                <td> @Html.TextBoxFor(m => m.Email, new { @Value = Model.Email, @Size = 30, @placeholder = Model.Email})</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Website):</td>
                <td> @Html.TextBoxFor(m => m.Website, new { @Value = Model.Website, @Size = 30, @placeholder = Model.Website })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.RestaurantLocatie.Straat):</td>
                <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Straat, new { @Value = Model.RestaurantLocatie.Straat, @Size = 30, @placeholder = Model.RestaurantLocatie.Straat})</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.RestaurantLocatie.Huisnummer): </td>
                <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Huisnummer, new { @value = Model.RestaurantLocatie.Huisnummer, @Size = 5, @placeholder = Model.RestaurantLocatie.Huisnummer })</td>
                <td> @Html.LabelFor(m => m.RestaurantLocatie.Toevoeging):</td>
                <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Toevoeging, new { @Value = Model.RestaurantLocatie.Toevoeging, @Size = 5, @placeholder = Model.RestaurantLocatie.Toevoeging })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.RestaurantLocatie.Postcode):</td>
                <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Postcode, new { @Value = Model.RestaurantLocatie.Postcode, @Size = 30, @placeholder = Model.RestaurantLocatie.Postcode})</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.RestaurantLocatie.Plaats):</td>
                <td> @Html.TextBoxFor(m => m.RestaurantLocatie.Plaats, new { @Value = Model.RestaurantLocatie.Plaats, @placeholder = Model.RestaurantLocatie.Plaats})</td>
            </tr>

        </table>

    </section>
}

