@using IHFF.Models;

@model IHFF.Models.Museum
@{
    ViewBag.Title = "EditMuseum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/EditPages.css")


<h2>Edit Museum</h2>

@Html.ValidationSummary()
@using (Html.BeginForm(FormMethod.Post))
{
    <h2>Edit Museum: @Model.Titel</h2>
    <input type="Submit" value="Update museum" formmethod="Post" class="Edit-update" size="30" />

    <p>
        @Model.Titel.ToString()
        
    </p>

    <img class="bannerimg" src=@Model.MuseumAfbeelding.Link />
    <p>
        @Html.LabelFor(m => m.MuseumAfbeelding.Link):
        @Html.TextBoxFor(m => m.MuseumAfbeelding.Link, new { @Value = Model.MuseumAfbeelding.Link, @Size = 30 })
    </p>
    <section class="summary">
        <h3>Summary</h3>
        @Html.TextAreaFor(m => m.Omschrijving, new { @Value = Model.Omschrijving, @Rows = 8, @cols = 40 })
    </section>
    <section class="info">
        <h3>Openingstijden</h3>
        <table>
            <tr>
                <td> @Html.LabelFor(m => m.Maandag):</td>
                <td> @Html.TextBoxFor(m => m.Maandag, new { @Value = Model.Maandag, @Size = 30 })</td>
            </tr>

            <tr>
                <td> @Html.LabelFor(m => m.Dinsdag):</td>
                <td> @Html.TextBoxFor(m => m.Dinsdag, new { @Value = Model.Dinsdag, @Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Woensdag):</td>
                <td> @Html.TextBoxFor(m => m.Woensdag, new { @Value = Model.Woensdag, @Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Donderdag):</td>
                <td> @Html.TextBoxFor(m => m.Donderdag, new { @Value = Model.Donderdag, @Size = 30 }) </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Vrijdag):</td>
                <td> @Html.TextBoxFor(m => m.Vrijdag, new { @Value = Model.Vrijdag, @Size = 30 }) </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Zaterdag):</td>
                <td> @Html.TextBoxFor(m => m.Zaterdag, new { @Value = Model.Zaterdag, @Size = 30 }) </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.Zondag):</td>
                <td> @Html.TextBoxFor(m => m.Zondag, new { @Value = Model.Zondag, @Size = 30 }) </td>
            </tr>
        </table>

    </section>
}
