@using IHFF.Models.Input;

@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/EditPages.css")
@{
    ViewBag.Title = "EditSpecial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SpecialInputModel

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <h2>Edit Special: @Model.Titel</h2>
    <input type="Submit" value="Update special" formmethod="Post" class="Edit-update" size="30" />
    <p>
        @Html.LabelFor(m => m.Titel):
        @Html.TextBoxFor(m => m.Titel, new { @Value = Model.Titel })
    </p>

    <img class="bannerimg" src=@Model.ItemAfbeelding.Link />
    <p>
        @Html.LabelFor(m => m.ItemAfbeelding.Link):
        @Html.TextBoxFor(m => m.ItemAfbeelding.Link, new { @Value = Model.ItemAfbeelding.Link, @Size = 30 })
    </p>
    <section class="summary">
        <h3>Summary</h3>
        @Html.TextAreaFor(m => m.Omschrijving, new { @Value = Model.Omschrijving, @Rows = 8, @cols = 40 })
    </section>
    <section class="info">
        <h3>Info</h3>
        <table>
            <tr>
                <td> @Html.LabelFor(m => m.Speaker):</td>
                <td> @Html.TextBoxFor(m => m.Speaker, new { @Value = Model.Speaker, @Size = 30 })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(m => m.SpokenLanguage):</td>
                <td> @Html.TextBoxFor(m => m.SpokenLanguage, new { @Value = Model.SpokenLanguage, @Size = 30 })</td>
            </tr>
        </table>
    </section>
}