@using IHFF.Models;
@{
    ViewBag.Title = "ManagementWindow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Management Window</h2>
@model IEnumerable<EventListRepresentation>
<table>
    <tr>
        <th>Name</th>
        <th>Edit</th>
    </tr>

    @foreach (EventListRepresentation evenement in Model)
    {
       
            if (evenement.culture != null) //Museum
            {
                <tr>
                <td>@evenement.culture.Naam </td>
                <td>@Html.ActionLink("Edit", "EditCulture", "Employee", null, new { id = evenement.culture.MuseumID })</td>
                 </tr>
            }
            else if (evenement.item != null) //Item
            {
                <tr>
                <td>@evenement.item.Titel</td>
                <td>@Html.ActionLink("Edit", "EditItem", "Employee", new { id = evenement.item.ItemID }, null)</td>
                    </tr>
            }
            else                           //Restaurant
            {
                <tr>
                <td>@evenement.restaurant.Naam</td>
                <td>@Html.ActionLink("Edit", "EditRestaurant", "Employee", null, new { id = evenement.restaurant.RestaurantID })</td>
                </tr>
            }
        
        }

    </table>

