@using IHFF.Models;
@{
    ViewBag.Title = "ManagementWindow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Management Window</h2>
@model IEnumerable<EventListRepresentation>
<table>
    <tr>
        <th>Name</th>
        <th>Edit</th>
    </tr>

    @foreach (EventListRepresentation evenement in Model)
    {
        if (evenement.culture != null) //Museum
        {
            <tr>
                <td>@evenement.culture.Titel </td>
                <td>@Html.ActionLink("Edit", "EditMuseum", "Employee",  new { id = evenement.culture.MuseumID }, null)</td>
            </tr>
        }
        else if (evenement.item != null) //Item
        {
            if (evenement.item is Movie)
            {
                <tr>
                    <td>@evenement.item.Titel</td>
                    <td>@Html.ActionLink("Edit", "EditMovie", "Employee", new { id = evenement.item.ItemID }, null)</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@evenement.item.Titel</td>
                    <td>@Html.ActionLink("Edit", "EditSpecial", "Employee", new { id = evenement.item.ItemID }, null)</td>
                </tr>
            }
        }
        else                           //Restaurant
        {
            <tr>
                <td>@evenement.restaurant.Naam</td>
                <td>@Html.ActionLink("Edit", "EditRestaurant", "Employee", new { id = evenement.restaurant.RestaurantID}, null)</td>
            </tr>
        }

    }

</table>

