
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
</head>
@using IHFF.Models;
@{
    ViewBag.Title = "ManagementWindow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/EditPages.css")
@Styles.Render("~/Content/overview.css")
@Styles.Render("~/Content/EditPages.css")
<h2>Management Window</h2>

@using (Html.BeginForm("SignOut", "Employee", FormMethod.Post))
{
    <input type="submit" class="logoff" value="Sign Out"/>
}
@model IEnumerable<EventListRepresentation>

<p>Do you want to add an event? </p>
<table>
    <tr><td>@Html.ActionLink("Add a movie", "AddMovie", "Employee", null, new { @Class = "management" })</td></tr>
    <tr><td>@Html.ActionLink("Add a special", "AddSpecial", "Employee", null, new { @Class = "management" })</td></tr>
    <tr><td>@Html.ActionLink("Add a restaurant", "AddRestaurant", "Employee", null, new { @Class = "management" })</td></tr>
    <tr><td>@Html.ActionLink("Add a museum", "AddMuseum", "Employee", null, new { @Class = "management" })</td></tr>
    <tr><td>@Html.ActionLink("Add a hotel", "AddHotel", "Employee", null, new { @Class = "management" })</td></tr>
    <tr><td>@Html.ActionLink("Add a news message", "AddNews", "Employee", null, new { @Class = "management" })</td></tr>
</table>
<p></p>
<table>
    <tr>
        <th class="MngmntWindowTableHeader">Name</th>
        <th class="MngmntWindowTableHeader">Edit</th>
        <th class="MngmntWindowTableHeader">Delete</th>
    </tr>
    <tr><td><h2>Movies</h2></td></tr>
    @foreach (EventListRepresentation movie in Model.Where(m => m.item != null && m.item is Movie))
    {

        <tr>
            <td>@movie.item.Titel</td>
            <td>@Html.ActionLink("Edit", "EditMovie", "Employee", new { id = movie.item.ItemID }, new { @Class = "management" })</td>
            @*<td>@Html.ActionLink("Delete", "DeleteMovie", "Employee", new { id = movie.item.ItemID }, new { @Class = "management" })</td>*@
            <td>
                <button class="deletebtn">Delete</button>
                <div class="modal">
                    <article class="modal-content">
                        <article class="modal-header">

                            <button onclick="$(this).parent('div').style.display = 'none'" class="close">&times;</button>

                            <h2>Are you sure you want to delete the following item?</h2>
                        </article>
                        <div class="modal-body">
                            @Html.Partial("_DeleteFestivalObject", movie)
                        </div>
                        <div class="modal-footer">
                            <h2></h2>
                            <h2></h2>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
    }
    <tr><td><h2>Specials</h2></td></tr>
    @foreach (EventListRepresentation special in Model.Where(m => m.item is Special))
    {
        <tr>
            <td>@special.item.Titel</td>
            <td>@Html.ActionLink("Edit", "EditSpecial", "Employee", new { id = special.item.ItemID }, new { @Class = "management" })</td>
            <td>
                <button class="deletebtn">Delete</button>
                <div class="modal">
                    <article class="modal-content">
                        <article class="modal-header">

                            <button onclick="$(this).parent('div').style.display = 'none'" class="close">&times;</button>

                            <h2>Are you sure you want to delete the following item?</h2>
                        </article>
                        <div class="modal-body">
                            @Html.Partial("_DeleteFestivalObject", special)
                        </div>
                        <div class="modal-footer">
                            <h2></h2>
                            <h2></h2>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
    }

    <tr><td><h2>Museums</h2></td></tr>
    @foreach (EventListRepresentation museum in Model.Where(m => m.culture != null))
    {
        <tr>
            <td>@museum.culture.Naam </td>
            <td>@Html.ActionLink("Edit", "EditMuseum", "Employee", new { id = museum.culture.MuseumID }, new { @Class = "management" })</td>
            <td>
                <button class="deletebtn">Delete</button>
                <div class="modal">
                    <article class="modal-content">
                        <article class="modal-header">

                            <button onclick="$(this).parent('div').style.display = 'none'" class="close">&times;</button>

                            <h2>Are you sure you want to delete the following item?</h2>
                        </article>
                        <div class="modal-body">
                            @Html.Partial("_DeleteFestivalObject", museum)
                        </div>
                        <div class="modal-footer">
                            <h2></h2>
                            <h2></h2>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
    }
    <tr><td><h2>Restaurants</h2></td></tr>
    @foreach (EventListRepresentation restaurant in Model.Where(m => m.restaurant != null))
    {
        <tr>
            <td>@restaurant.restaurant.Naam</td>
            <td>@Html.ActionLink("Edit", "EditRestaurant", "Employee", new { id = restaurant.restaurant.RestaurantID }, new { @Class = "management" })</td>
            <td>
                <button class="deletebtn">Delete</button>
                <div class="modal">
                    <article class="modal-content">
                        <article class="modal-header">

                            <button onclick="$(this).parent('div').style.display = 'none'" class="close">&times;</button>

                            <h2>Are you sure you want to delete the following item?</h2>
                        </article>
                        <div class="modal-body">
                            @Html.Partial("_DeleteFestivalObject", restaurant)
                        </div>
                        <div class="modal-footer">
                            <h2></h2>
                            <h2></h2>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
    }

    <tr><td><h2>Hotels</h2></td></tr>
    @foreach (EventListRepresentation hotel in Model.Where(m => m.hotel != null))
    {
        <tr>
            <td>@hotel.hotel.Naam</td>
            <td>@Html.ActionLink("Edit", "EditHotel", "Employee", new { id = hotel.hotel.HotelId }, new { @Class = "management" })</td>
            <td>
                <button class="deletebtn">Delete</button>
                <div class="modal">
                    <article class="modal-content">
                        <article class="modal-header">

                            <button onclick="$(this).parent('div').style.display = 'none'" class="close">&times;</button>

                            <h2>Are you sure you want to delete the following item?</h2>
                        </article>
                        <div class="modal-body">
                            @Html.Partial("_DeleteFestivalObject", hotel)
                        </div>
                        <div class="modal-footer">
                            <h2></h2>
                            <h2></h2>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
    }
    <tr><td><h2>News</h2></td></tr>
    @foreach (EventListRepresentation msg in Model.Where(m => m.news != null))
    {
        <tr>
            <td>@msg.news.Title</td>
            <td>@Html.ActionLink("Edit", "EditNews", "Employee", new { id = msg.news.Id }, new { @Class = "management" })</td>
            <td>
                <button class="deletebtn">Delete</button>
                <div class="modal">
                    <article class="modal-content">
                        <article class="modal-header">
                            <button onclick="$(this).parent('div').style.display = 'none'" class="close">&times;</button>
                            <h2>Are you sure you want to delete the following item?</h2>
                        </article>
                        <div class="modal-body">
                            @Html.Partial("_DeleteFestivalObject", msg)
                        </div>
                        <div class="modal-footer">
                            <h2></h2>
                            <h2></h2>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>

<script>
    $(document).ready(function () {

        // When the user clicks anywhere outside of the modal, close it
        $('.close').click(function () {
            // If the clicked object is a modal.
            $('.modal').css('display', 'none');
        });


        $('.deletebtn').click(function () {
            $(this).next()[0].style.display = "inline";
        });

               
    });
</script>

