@Styles.Render("~/Content/CartStyle.css")
@using IHFF.Models;

@{
    ViewBag.Title = "WishList";

}

@model IEnumerable<Event>

<head>
    <title>WishList</title>
</head>
<body>

    <h2>Wishlist</h2>

    <content>
        <table class="cart">
            <tr class="CartHeader">
                <th class="Title"><h3>Title</h3></th>
                <th class="Time"><h3>Time</h3></th>
                <th class="Amount"><h3>Amount</h3></th>
                <th class="Price"><h3>Price</h3></th>
                <th class="Delete"><h3>Delete</h3></th>
            </tr>
            @foreach (Event m in Model)
            {
                
                <tr class="CartContent">
                    <td class="Title"><h4>@m.Titel</h4></td>
                    <td class="Time" id="Time"><h4>@m.DatumTijd.ToString("dd/MM/yy")<br />@m.DatumTijd.ToString("HH:mm") </h4></td>
                    <td class="Amount"><h4>@m.Aantal</h4></td>
                    <td class="Price"><h4>@m.Prijs</h4></td>
                    <td class="Delete" id="Delete">@Html.ActionLink("X", "DeleteWishItem", "WishList", new { wishlistId = m.WishListId }, new { @Class = "deleteCross" })</td>
                </tr>
            }

        </table>
        @using (Html.BeginForm(FormMethod.Post))
        {         
        <button name="button" class="wishToCartbutton" type="submit" formmethod="post" value="cart">Add to Cart</button>
        }
    </content>
</body>
