@using IHFF.Models;

@model Restaurant

<section class="form">
    @Html.ValidationSummary()
    @using (Html.BeginForm("FoodOverview", "Food", FormMethod.Post))
    {
        @Html.Hidden("restaurantid", Model.RestaurantID)
        @Html.Label("Amount")
        <br />
        @Html.TextBoxFor(m => m.MaaltijdInputModel.Aantal)
        <br /><br />
        @Html.Label("Date and Time");
        <br />
        <select name="maaltijdid" id="@(Model.RestaurantID)" class="@(Model.RestaurantID + 10)" onchange="FillUren(this)">
            <option selected="selected"></option>
            @foreach (Maaltijd maaltijd in Model.RestaurantMaaltijd)
            {
                if (maaltijd.BeginTijd.Hour < 16)
                {
                    <option value=@maaltijd.MaaltijdID> @maaltijd.BeginTijd.DayOfWeek @maaltijd.BeginTijd.ToString("dd/MM/yy") Lunch</option>
                }
                else
                {
                    <option value=@maaltijd.MaaltijdID> @maaltijd.BeginTijd.DayOfWeek @maaltijd.BeginTijd.ToString("dd/MM/yy") Dinner</option>
                }
            }
        </select>
        <select name="maaltijdUur" id="@(Model.RestaurantID + 10)"></select>
        @Html.TextBoxFor(m => m.MaaltijdInputModel.minuten, null, new { @type = "number", @size = "10" })
        <br /><br />
        <button name="buttoncart" class="cartbutton" type="submit" formmethod="post" value="cart">Add to Cart</button>
        <button name="buttonwish" class="wishbutton" type="submit" formmethod="post" value="wishlist">Add to Wishlist</button>
        <br />
    }
</section>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script>
    function FillUren(ele) {
        @*var uurid = @Html.Raw(Json.Encode(Model.LocatieID));*@
        var uurid = ele.className;
        
        //alert(uurid);
        var dagId = $('#' + ele.id).val();       
        $.ajax({
            url: '/Food/FillUren',
            type: "GET",
            dataType: "JSON",
            data: { maaltijdId: dagId },
            success: function (uren) {
                $('#' + uurid).html(""); // clear before appending new list
                $.each(uren, function (i, uur) {
                    $('#' + uurid).append(
                    $('<option></option>').val(uur).html(uur));
                });
            }
        });
    }
</script>