@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/overview.css")
@using IHFF.Models;
@model Restaurant
@{
    ViewBag.Title = "FoodDetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Naam</h2>

<img class="bannerimg" src=@Model.RestaurantAfbeelding.Link />

<section class="summary">
    <h3>Summary</h3>
    <p>@Model.Omschrijving</p>
</section>
<section class="info">
    <table class="contacttabel">
        <tr>
            <th>Info:</th>
            <th></th>
        </tr>        
        <tr>
            <td>Website:</td>
            <td><a href="@Model.Website">@Model.Website</a></td>
        </tr>
        <tr>
            <td>Telephone number:</td>
            <td>@Model.Telefoon</td>
        </tr>
        <tr>
            <td>E-mal:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>@Model.RestaurantLocatie.Straat @Model.RestaurantLocatie.Huisnummer</td>
        </tr>
        <tr>
            <td>Postal code:</td>
            <td>@Model.RestaurantLocatie.Postcode, @Model.RestaurantLocatie.Plaats</td>
        </tr>
    </table>
</section>
<br />
<section class="form">
    @Html.ValidationSummary()
    @using (Html.BeginForm("FoodDetailpage", "Food", FormMethod.Post))
    {
        @Html.HiddenFor(r => r.RestaurantID)
        @Html.Label("Amount")
        <br />
        @Html.TextBox("aantal")
        <br /><br />
        @Html.Label("Date and Time");
        <br />
        <select name="maaltijdid" id="dag" onchange="FillUren()">
            <option selected="selected"></option>
            @foreach (Maaltijd maaltijd in Model.RestaurantMaaltijd)
            {
                if (maaltijd.BeginTijd.Hour < 16)
                {
                    <option value=@maaltijd.MaaltijdID> @maaltijd.BeginTijd.DayOfWeek @maaltijd.BeginTijd.ToString("dd/MM/yy") Lunch</option>
                }
                else
                {
                    <option value=@maaltijd.MaaltijdID> @maaltijd.BeginTijd.DayOfWeek @maaltijd.BeginTijd.ToString("dd/MM/yy") Dinner</option>
                }
            }
        </select>   
            
        <select name="maaltijdUur" id="uur">

        </select>  
         @Html.TextBox("minuten",null,  new {@type = "number", @min = "0", @max = "59", @pattern = "[0-9]", @size = "10"})
        <br /><br />
        <button name="buttoncart" class="cartbutton" type="submit" formmethod="post" value="cart">Add to Cart</button>
        <button name="buttonwish" class="wishbutton" type="submit" formmethod="post" value="wishlist">Add to Wishlist</button>
    }
</section>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>
    function FillUren() {
    var dagId = $('#dag').val();
    $.ajax({
    url: '/Food/FillUren',
    type: "GET",
    dataType: "JSON",
    data: { maaltijdId: dagId},
    success: function (uren) {
    $("#uur").html(""); // clear before appending new list
    $.each(uren, function (i, uur) {
    $("#uur").append(
    $('<option></option>').val(uur).html(uur));
    });
    }
    });
    }
</script>