@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/overview.css")
@using IHFF.Models;
@model Restaurant
@{
    ViewBag.Title = "FoodDetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Naam</h2>

<img class="bannerimg" src=@Model.RestaurantAfbeelding.Link />

<section class="foodsummary">
    <h3>Summary</h3>
    <p>@Model.Omschrijving</p>
</section>
<section class="info">
    <table class="contacttabel">
        <tr>
            <th class="links"><h3>Info:</h3></th>
            <th class="right"></th>
        </tr>
        <tr>
            <td class="links">Website:</td>
            <td class="right"><a href="@Model.Website">@Model.Website</a></td>
        </tr>
        <tr>
            <td class="links">Telephone number:</td>
            <td class="right">@Model.Telefoon</td>
        </tr>
        <tr>
            <td class="links">E-mail:</td>
            <td class="right">@Model.Email</td>
        </tr>
        <tr>
            <td class="links">Location:</td>
            <td class="right">@Model.RestaurantLocatie.Straat @Model.RestaurantLocatie.Huisnummer @Model.RestaurantLocatie.Toevoeging</td>
        </tr>
        <tr>
            <td class="links">Postal code:</td>
            <td class="right">@Model.RestaurantLocatie.Postcode, @Model.RestaurantLocatie.Plaats</td>
        </tr>
    </table>
</section>
<br />
<section class="form">
    @Html.ValidationSummary()
    @using (Html.BeginForm("FoodDetailpage", "Food", FormMethod.Post))
    {
        @Html.HiddenFor(r => r.RestaurantID)
        @Html.Label("Amount")
        <br />
        @Html.TextBoxFor(m => m.MaaltijdInputModel.Aantal)
        <br /><br />
        @Html.Label("Date and Time");
        <br />
        //@Html.Label("Select Day and course, hour and minute");
        //<br />
        <select name="maaltijdid" id="dag" onchange="FillUren()">
            <option selected="selected"></option>
            @foreach (Maaltijd maaltijd in Model.RestaurantMaaltijd)
            {
                if (maaltijd.BeginTijd.Hour < 16)
                {
                    <option value=@maaltijd.MaaltijdID> @maaltijd.BeginTijd.DayOfWeek @maaltijd.BeginTijd.ToString("dd/MM/yy") Lunch</option>
                }
                else
                {
                    <option value=@maaltijd.MaaltijdID> @maaltijd.BeginTijd.DayOfWeek @maaltijd.BeginTijd.ToString("dd/MM/yy") Dinner</option>
                }
            }
        </select>   
            
        <select name="maaltijdUur" id="uur">

        </select>  
         @Html.TextBoxFor(m => m.MaaltijdInputModel.minuten,null,  new {@type = "number", @size = "10"})
        <br /><br />
        <button name="buttoncart" class="cartfoodbutton" type="submit" formmethod="post" value="cart">Add to Cart</button>
        <button name="buttonwish" class="wishfoodbutton" type="submit" formmethod="post" value="wishlist">Add to Wishlist</button>
    }
</section>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>
    function FillUren() {
    var dagId = $('#dag').val();
    $.ajax({
    url: '/Food/FillUren',
    type: "GET",
    dataType: "JSON",
    data: { maaltijdId: dagId},
    success: function (uren) {
    $("#uur").html(""); // clear before appending new list
    $.each(uren, function (i, uur) {
    $("#uur").append(
    $('<option></option>').val(uur).html(uur));
    });
    }
    });
    }
</script>