@using IHFF.Models;


@model Movie
@Styles.Render("~/Content/overview.css")
@{List<string> stars = new List<String>();
    stars = Model.Stars.Split(',').ToList();}

 <div class="shortInfo">
    <h3>Info</h3>
    <p>Rating: @Model.Rating</p>
    <p>Director: @Model.Director</p>
    <p>Writers: @Model.Writers</p>
    <p>Stars: @stars[0] , @if (stars[1] != null) {@stars[1]}...</p>
   </div>

<div class="crosselling">
    <h3>Discover Haarlem!</h3>
    <h4>Looking for Culture?</h4>
    @Html.ActionLink("Culture", "MuseumOverview", "Culture", null, new { @Class = "cross" })
    <h4>Looking for Hotels?</h4>
    @Html.ActionLink("Hotels", "HotelsOverview", "Hotels", null, new { @Class = "cross" })

</div>
<section class="formPopup">
@Html.ValidationSummary()
  
@using (Html.BeginForm("MovieOverview", "Movies", FormMethod.Post))
{
    
    @Html.LabelFor(m => m.Aantal )
    @Html.HiddenFor(m => m.ItemID)
    
    <br />
        @Html.TextBoxFor(m => m.Aantal)
        @Html.ValidationMessageFor(m => m.Aantal)
        <br /><br />
        @Html.Label("Date (dd/mm/yy)")
    <br />
        <select name="voorstellingId">
            @foreach (Voorstelling voorstelling in Model.Voorstellingen)
            {
                <option value=@voorstelling.VoorstellingID>@voorstelling.BeginTijd.ToString("dd/MM/yy HH:mm")</option>
            }
        </select>
        <br /><br />
        <button name="listType" class="cartbutton" type="submit" formmethod="post" value="cart">Add to Cart</button>
        <button name="listType" class="wishbutton" type="submit" formmethod="post" value="wishlist">Add to Wishlist</button>
        <br />
}
</section>

