@using IHFF.Models;

@model Movie

<section class="form">
@Html.ValidationSummary()
@using (Html.BeginForm("MovieOverview", "Movies", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ItemID)
    @Html.Label("Aantal", new {@for = "aantal" })
    <br />
        @Html.TextBox("aantal")
        <br /><br />
        @Html.Label("Datum");
    <br />
        <select name="voorstellingId">
            @foreach (Voorstelling voorstelling in Model.Voorstellingen)
            {
                <option value=@voorstelling.VoorstellingId>@voorstelling.BeginTijd.ToString("dd/MM/yy HH:mm")</option>
            }
        </select>
        <br /><br />
        <input type="submit" formmethod="post" value="Add to cart" name="action" />
        <input type="submit" formmethod="post" value="Add to wishlist" name="action"/>
}
</section>