@using IHFF.Models;

@model Movie

<section class="form">
@Html.ValidationSummary()
@using (Html.BeginForm("MovieOverview", "Movies", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ItemID)
    @Html.LabelFor(m => m.Aantal)
    <br />
        @Html.TextBoxFor(m => m.Aantal)
        <br /><br />
        @Html.Label("Datum");
    <br />
        <select name="voorstellingId">
            @foreach (Voorstelling voorstelling in Model.Voorstellingen)
            {
                <option value=@voorstelling.VoorstellingId>@voorstelling.DatumTijd.ToString("dd/MM/yy HH:mm")</option>
            }
        </select>
        <br /><br />
        <input type="submit" formmethod="post" value="Add to cart" />
}
</section>