@Styles.Render("~/Content/MovieDetailPageStyle.css");

@using IHFF.Models;
@model Movie
@{
    ViewBag.Title = "MovieDetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Titel</h2>

<img class="bannerimg" src=@Model.ItemAfbeelding.Link />

<section class="summary">
    <h3>Summary</h3>
    <p>@Model.Omschrijving</p>
</section>
<section class="info">
    <h3>Info</h3>
    <p>Rating: @Model.Rating</p>
    <p>Director: @Model.Director</p>
    <p>Writers: @Model.Writers</p>
    <p>Stars: @Model.Stars</p>
</section>
<section>
    <table>
        <tr>
            <td><p>Amount</p></td>
            <td><input class="NumberInput" type="number" min="1" /></td>
        </tr>
        <tr>
            <td><p>Time</p></td>
            <td>
                <select>
                    @if (Model.Tijden != null)
                    {
                        foreach (DateTime t in Model.Tijden)
                        {
                            <option value="Bolbo">@t.ToString();</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</section>
