@Styles.Render("~/Content/MovieDetailPageStyle.css");

@using IHFF.Models;
@model Movie
@{
    ViewBag.Title = "MovieDetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Titel</h2>

<img class="bannerimg" src=@Model.ItemAfbeelding.Link />

<section class="summary">
    <h3>Summary</h3>
    <p>@Model.Omschrijving</p>
</section>
<section class="info">
    <h3>Info</h3>
    <p>Rating: @Model.Rating</p>
    <p>Director: @Model.Director</p>
    <p>Writers: @Model.Writers</p>
    <p>Stars: @Model.Stars</p>
</section>
<br/>
<section class="form">
    @Html.ValidationSummary()
    @using (Html.BeginForm("MovieDetailpage", "Movies", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ItemID)
        @Html.LabelFor(m => m.movieEvent.Aantal)
        <br/>
        @Html.TextBoxFor(m => m.movieEvent.Aantal)
        <br/><br/>
        @Html.LabelFor(m => m.movieEvent.DatumTijd)
        <br/>
        <select>
            @foreach (Voorstelling voorstelling in Model.Voorstellingen)
            {
                <option value=@voorstelling.VoorstellingId>@voorstelling.DatumTijd.ToString("dd/MM/yy HH:mm")</option>
            }
        </select>
        <br/><br/>
        <input type="submit" formmethod="post" value="Add to cart" />
    }
</section>
