@Styles.Render("~/Content/MovieDetailPageStyle.css")
@Styles.Render("~/Content/overview.css")
@using IHFF.Models;
@model Movie
@{
    ViewBag.Title = "MovieDetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Titel</h2>

<img class="bannerimg" src=@Model.ItemAfbeelding.Link />

<section class="summary">
    <h3>Summary</h3>
    <p>@Model.Omschrijving</p>
</section>
<section class="info">
    <h3>Info</h3>
    <p>Rating: @Model.Rating</p>
    <p>Director: @Model.Director</p>
    <p>Writers: @Model.Writers</p>
    <p>Stars: @Model.Stars</p>
</section>
<br/>
<section class="form">
    @Html.ValidationSummary()
    @using (Html.BeginForm("MovieDetailpage", "Movies", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ItemID)
        @Html.Label("Aantal", new { @for = "aantal" })
        <br/>
        @Html.TextBox("aantal")
        <br/><br/>
        @Html.Label("Datum");
        <br/>
        <select name="voorstellingId" class="VoorstellingDatum">
            @foreach (Voorstelling voorstelling in Model.Voorstellingen)
            {
                <option value=@voorstelling.VoorstellingID>@voorstelling.BeginTijd.ToString("dd/MM/yy HH:mm")</option>
            }
        </select>   
        <div class="buttonsdetailpage">
        <button name="button" class="cartdetailbutton" type="submit" formmethod="post" value="cart">Add to Cart</button>
        <button name="button" class="wishdetailbutton" type="submit" formmethod="post" value="wishlist">Add to Wishlist</button>
        </div>
    



    }
</section>
