@using IHFF.Models;

@{
    ViewBag.Title = "MovieOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/overview.css")
@Scripts.Render("~/bundles/modernizr")
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

@model IEnumerable<Movie>

<h2 class="moverview">Movie Overview</h2>
@*@Html.ActionLink("Full schedule", "FullSchedule", "FullSchedule", null, new { @Class = "fullsched" })*@



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies</title>
</head>
<body>

    @{int movieNr = 0; }
 
    <table>
        @Html.Hidden("movieId", 0)
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                @for (int j = 0; j < 3; j++)
                {
                    if (movieNr < Model.Count())
                    {
                        if (Model.ElementAt(movieNr).ItemAfbeelding != null)
                        {
                            <td>

                                <div class="col-lg-3 col-md-4 col-sm-6 col-lg-12">
                                    <div class="hovereffect">
                                        @*<p class="movie_index_item_title">@Model.ElementAt(movieNr).Titel</p>*@
                                        <img class="img-responsive" src=@Model.ElementAt(movieNr).ItemAfbeelding.Link alt=@Model.ElementAt(movieNr).Titel title="@Model.ElementAt(movieNr).Titel">
                                        <div class="overlay">

                                            <a class="plaatjelink" href='@Url.Action("MovieDetailPage", "Movies", new { movie_id = Model.ElementAt(movieNr).ItemID }, null)'></a>
                                            <a href='@Url.Action("MovieDetailPage", "Movies", new { movie_id = Model.ElementAt(movieNr).ItemID }, null)'></a>
                                            <h2 class="overlaytitel">@Html.ActionLink(@Model.ElementAt(movieNr).Titel, "MovieDetailPage", "Movies", new { movie_id = Model.ElementAt(movieNr).ItemID }, null)</h2>


                                            <!-- Trigger/Open The Modal -->
                                            <!-- The Modal -->

                                            <button id="@movieNr" class="movie_index_item_description_button">Add To...</button>
                                            <div class="modal">
                                                <article class="modal-content">
                                                    <article class="modal-header">
                                                        <button class="close">&times;</button>

                                                        <h2>Modal Header</h2>
                                                    </article>
                                                    <div class="modal-body">
                                                        @Html.Partial("_MovieOverview", @Model.ElementAt(movieNr))


                                                    </div>
                                                    <div class="modal-footer">
                                                        <h3>Do you have dinner plans yet? <!--Html.ActionLink("", "", "", null, new {Class = "" })--></h3>
                                                    </div>
                                                </article>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <p class="movie_index_item_title">@Html.ActionLink(Model.ElementAt(movieNr).Titel, "MovieDetailPage", "Movies", new { movie_id = Model.ElementAt(movieNr).ItemID }, null) </p>
                            </td>
                            { movieNr++; }

                        }
                    }
                }



            </tr>
        }
    </table>

    <br />
    @Scripts.Render("~/bundles/jquery")


    <script>
        $(document).ready(function () {

            $('.close').click(function () {
                // If the clicked object is a modal.
                $('.modal').css('display', 'none');
            });

            $('.movie_index_item_description_button').click(function () {
                $(this).next()[0].style.display = "inline";
                var title = $(this).prev('h2').html();
                $('.modal-header').find('h2').html(title);
            });


        });
    </script>


</body>

