@Styles.Render("~/Content/MovieDetailPageStyle.css");

@using IHFF.Models;
@model Movie
@{
    ViewBag.Title = "MovieDetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Titel</h2>



<section class="summary">
    <h3>summary</h3>
    <p>@Model.Omschrijving</p>
</section>
<section class="info">
    <h3>Info</h3>
    <p>Rating: @Model.Rating</p>
    <p>Director: @Model.Director</p>
    <p>Writers: @Model.Writers</p>
    <p>Stars: @Model.Stars</p>
</section>
