@using IHFF.Models;
@{
    ViewBag.Title = "MovieOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/overview.css")
@model IEnumerable<Movie>
<h2>MovieOverview</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table>
        @{int movieNr = 0;}
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                @for (int j = 0; j < 3; j++)
                {
                    if (movieNr < Model.Count())
                    {
                        if (Model.ElementAt(movieNr).ItemAfbeelding != null)
                        {
                            <td>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-lg-12">
                                    <div class="hovereffect">
                                        @*<p class="movie_index_item_title">@Model.ElementAt(movieNr).Titel</p>*@
                                        <img class="img-responsive" src=@Model.ElementAt(movieNr).ItemAfbeelding.Link alt=@Model.ElementAt(movieNr).Titel title="@Model.ElementAt(movieNr).Titel">
                                        <div class="overlay">
                                            
                                            <h2>@Model.ElementAt(movieNr).Titel</h2>
                                            <a href="SpaceOdyssey.html" class="movie_index_item_description_button">Voeg toe aan Cart</a>
                                            <a href="SpaceOdysses.html" class="movie_index_item_description_button2">Wishlist</a>  <!--a ref naar actionlink-->
                                           
                                        </div>
                                    </div>
                                    <p class="movie_index_item_title">@Html.ActionLink(Model.ElementAt(movieNr).Titel, "MovieDetailPage", "Movies", new { movie_id = Model.ElementAt(movieNr).ItemID }, null) </p>

                                </div>
                            </td>
                            { movieNr++; }
                        }
                    }
                }

                

            </tr>
        }


    </table>


    <!--
    <section id="Movies">

        <nav class="movie_index_items">

            <aside class="movie_index_items_line1">
                <aside class="movie_index_item">
                    <img class="movie_index_item_img" src="./img/SpaceOdyssey.jpg" alt="2001: A Space Odyssey" title="Img SpaceOdyssey" />
                    <p class="movie_index_item_title">2001: A Space Odyssey</p>
                    <p class="movie_index_item_description">
                        2001: A Space Odyssey<br>
                        <a href="SpaceOdyssey.html" class="movie_index_item_description_button">Voeg toe aan Cart</a>  <!--a ref naar actionlink
                    </p>
                </aside>
                <aside class="movie_index_item">
                    <img class="movie_index_item_img" src="./IMG/A.I..jpg" alt="Artificial Intelligence" title="Img A.I." />
                    <p class="movie_index_item_title">A.I.</p>
                    <p class="movie_index_item_description">
                        A.I.<br>
                        <a href="Ai.html" class="movie_index_item_description_button">Voeg toe aan Cart</a>  <!--a ref naar actionlink
                    </p>
                </aside>
                <aside class="movie_index_item">
                    <img class="movie_index_item_img" src="./img/Brazil.jpg" alt="Brazil" title="Img Brazil" />
                    <p class="movie_index_item_title">Brazil</p>
                    <p class="movie_index_item_description">
                        Brazil<br>
                        <a href="Brazil.html" class="movie_index_item_description_button">Voeg toe aan Cart</a> <!--a ref naar actionlink
                    </p>
                    <br />
                </aside>

            </aside>

        </nav>

    </section>
    -->
    <br />


</body>
</html>

