@Styles.Render("~/Content/MuseumStyle.css")
@using IHFF.Models
@{
    ViewBag.Title = "Index";
}
@model List<Museum>

<h2>Museums</h2>

@foreach (Museum m in Model)
{
    <h3>@m.Naam</h3>
    <p class="omschrijving">@m.Omschrijving</p>
    <table class="tijden">
        <tr>
            <th>Openingstijden:</th>
        </tr>
        <tr>
            <td>Maandag:</td>
            <td>@m.Maandag</td>
        </tr>
        <tr>
            <td>Dinsdag:</td>
            <td>@m.Dinsdag</td>
        </tr>
        <tr>
            <td>Woensdag:</td>
            <td>@m.Woensdag</td>
        </tr>
        <tr>
            <td>Donderdag:</td>
            <td>@m.Donderdag</td>
        </tr>
        <tr>
            <td>Vrijdag:</td>
            <td>@m.Vrijdag</td>
        </tr>
        <tr>
            <td>Zaterdag:</td>
            <td>@m.Zaterdag</td>
        </tr>
        <tr>
            <td>Zondag:</td>
            <td>@m.Zondag</td>
        </tr>
    </table>
    <table class="contact">
        <tr>
            <th>Contact:</th>
        </tr>
        <tr>
            <td>Website:</td>
            <td>@m.Website</td>
        </tr>
        <tr>
            <td>Telephone number:</td>
            <td>@m.Telefoon</td>
        </tr>
        <tr>
            <td>Locatie:</td>
            <td>@m.MuseumLocatie</td>
        </tr>
    </table>
    <table class="Prices">
        <tr>
            <th>Prices:</th>
        </tr>
        <tr>
            <td>Adults:</td>
            <td>@m.Adults</td>
        </tr>
        <tr>
            <td>Kids</td>
            <td>@m.Kids</td>
        </tr>
    </table>
    <p> seven</p>
}

