@Styles.Render("~/Content/overview.css")

@using IHFF.Models
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Museum>

<h2>Museums</h2>
@{int museumNr = 0; }
<table>
    @Html.Hidden("museumId", 0)
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            @for (int j = 0; j < 3; j++)
                {
                    if (museumNr < Model.Count())
                    {
                        if (Model.ElementAt(museumNr).MuseumAfbeelding != null)
                        {
                        <td>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-lg-12">
                                <div class="hovereffect">
                                    <img class="img-responsive" src=@Model.ElementAt(museumNr).MuseumAfbeelding.Link alt=@Model.ElementAt(museumNr).Naam title="@Model.ElementAt(museumNr).Naam">
                                    <div class="overlay">
                                        <a class="plaatjelink" href='@Url.Action("MuseumDetailPage", "Culture", new { museumId = Model.ElementAt(museumNr).MuseumID }, null)'></a>
                                        <a href='@Url.Action("MuseumDetailPage", "Culture", new { museumId = Model.ElementAt(museumNr).MuseumID }, null)'>
                                            <h2 class="overlaytitel">@Model.ElementAt(museumNr).Naam</h2>
                                        </a>
                                            <!-- Trigger/Open The Modal -->
                                            <!-- The Modal -->

                                            <div class="modal">
                                                <article class="modal-content">
                                                    <article class="modal-header">
                                                        <h2>Modal Header</h2>
                                                    </article>

                                                    <div class="modal-footer">
                                                        <h3>Do you have dinner plans yet? </h3>
                                                    </div>
                                                </article>
                                            </div>
</div>
                                </div>

                            </div>
                            <p class="movie_index_item_title">@Html.ActionLink(Model.ElementAt(museumNr).Naam, "MuseumDetailPage", "Culture", 
                                    new { museumId = Model.ElementAt(museumNr).MuseumID }, null) </p>
                        </td>
                        { museumNr++; }
                    }
                }
            }



        </tr>
    }
</table>

<br />
@Scripts.Render("~/bundles/jquery")


<script>
    $(document).ready(function () {

        // When the user clicks anywhere outside of the modal, close it
        $('.close').click(function () {
            // If the clicked object is a modal.
            $('.modal').css('display', 'none');
        });

        $('.movie_index_item_description_button').click(function () {
            $(this).next()[0].style.display = "inline";
            var title = $(this).prev('h2').html();
            $('.modal-header').find('h2').html(title);
        });
    });
</script>

