
<!DOCTYPE html>


<html lang="en-gb">
<head>
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <!-- Styles.Render("~/Content/Master") -->
    <!-- <link href="~/Content/Master.css" rel="stylesheet" type="text/css" /> -->
    @Styles.Render("~/Content/Master.css")
    @RenderSection("Scripts", required: false)
    
    
</head>
<body>
    <section>
        <img class="header-logo" src="http://i.imgur.com/hgmXQXI.png"/>
        <section id="header-imgs">
            <img class="header-img" src="http://imgur.com/1W31qIX.png" />
            <img class="header-img" src="http://imgur.com/gkrNHAA.png" />
            <img class="header-img" src="http://imgur.com/RK1RAOO.png" />
            <img class="header-img" src="http://imgur.com/mQ8jAKP.png" />
        </section>
    </section>
    <section class="menu">
        <nav class="top-menu-bar">
            <ul>
                <li id="menu-border-left"><h5>@Html.ActionLink("Home","Index","Home", null, new {@class= "link"})</h5></li>
                <li><h5>@Html.ActionLink("Movies","MovieOverview","Movies",null ,new {@class= "link"})</h5></li>
                <li><h5>@Html.ActionLink("Specials", "SpecialOverview","Special", null, new { @class = "link" }) </h5></li>
                <li><h5>@Html.ActionLink("Food","FoodOverview","Food",null ,new {@class= "link"})</h5></li>
                <li><h5>Culture</h5></li>
                <li class="right"><h5>@Html.ActionLink("Cart","Index","Cart", null, new {@class= "link"})</h5></li>
                <li class="right" id="menu-border-left"><h5>Wishlist</h5></li>
            </ul>
        </nav>
    </section>

    <section class="contentENaside">
        <aside class="side-buttons">
            <button><p>Full Schedule</p></button>
            <button><p>Highlights</p></button>
            <button><p>Combo Deals</p></button>
        </aside>
        <section class="content">            
            @RenderBody()
        </section>
    </section>
    <footer>
        <ul class="footer-left">
            <li id="home-button"><h6>@Html.ActionLink("Home", "Index", "Home", null, new {@Class = "link"})</h6></li>
            <li><h6>@Html.ActionLink("Movies", "MovieOverview", "Movies", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Specials", "SpecialOverview", "Special", null, new {@Class = "link"})</h6></li>
            <li><h6>@Html.ActionLink("Food", "FoodOverview", "Food", null, new { @class = "link" })</h6></li>
            <li><h6>Culture</h6></li>
        </ul>
        <ul id="footer-middle">
            <li><h6>Locations</h6></li>
            <li><h6>@Html.ActionLink("About Us", "AboutUs", "AboutUs", null, new { @class = "link" })</h6></li>
            <li><h6>FAQ</h6></li>
            <li><h6>@Html.ActionLink("Contact", "Contact", "Contact", null, new { @class = "link" })</h6></li>
            <li><h6>Hotels</h6></li>
        </ul>
        <ul id="footer-right">
            <li><h6>My wishlist</h6></li>
            <li><h6>Cart</h6></li>
            <li><h6>@Html.ActionLink("Maintenence","LogIn","Employee", null, new {@Class = "link"})</h6></li>
        </ul>
    </footer>
</body>
</html>
