@using IHFF.Models;
<!DOCTYPE html>


<html lang="en-gb">
<head>
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <!-- Styles.Render("~/Content/Master") -->
    <!-- <link href="~/Content/Master.css" rel="stylesheet" type="text/css" /> -->
    @Styles.Render("~/Content/Master.css")
    @RenderSection("Scripts", required: false)
    @{int cartCount = 0; }
    @if (Session["Cart"] != null)
    {
        List<Event> events = (List<Event>)Session["Cart"];
        cartCount = events.Count;
    }
    @{int wishListCount = 0; }
    @if (Session["wishList"] != null)
    {
        List<Event> events = (List<Event>)Session["wishList"];
        wishListCount = events.Count;
    }
</head>
<body>
    <section>
        <section id="header-imgs">
            <img class="header-logo" src="http://i.imgur.com/hgmXQXI.png" />
            <img class="header-img" src="http://imgur.com/1W31qIX.png" />
            <img class="header-img" src="http://imgur.com/gkrNHAA.png" />
            <img class="header-img" src="http://imgur.com/RK1RAOO.png" />
            <img class="header-img" src="http://imgur.com/mQ8jAKP.png" />
        </section>
    </section>
    <section class="menu">
        <nav class="top-menu-bar">
            <ul id="Navbartotaal">

                <li id="menu-border-left"><h5>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "link" })</h5></li>
                <li><h5>@Html.ActionLink("Movies", "MovieOverview", "Movies", null, new { @class = "link" })</h5></li>
                <li><h5>@Html.ActionLink("Specials", "SpecialOverview", "Special", null, new { @class = "link" }) </h5></li>
                <li><h5>@Html.ActionLink("Food", "FoodOverview", "Food", null, new { @class = "link" })</h5></li>
                <li><h5>@Html.ActionLink("Culture", "MuseumOverview", "Culture", null, new { @class = "link" })</h5></li>
                <li class="right" id="Cart"><h5>@Html.ActionLink("Cart", "Index", "Cart", null, new { @class = "link" }) <span class="cartcount"> @cartCount </span></h5></li>
                <li class="right" id="wishList"><h5>@Html.ActionLink("WishList", "Index", "WishList", null, new { @class = "link" }) <span class="wishlistcount"> @wishListCount </span></h5></li>
                <!-- <li class="right" id="wishlist"><h5>Html.ActionLink("WishList", "Index", "WishList", null, new { class = "link" }) <span class="wishlistcount"> wishListCount </span></h5></li>   -->
            </ul>
        </nav>
    </section>

    <section class="contentENaside">
        <aside class="side-buttons">
            <button><p>@Html.ActionLink("FullSchedule", "FullSchedule", "FullSchedule", null, new { @Class = "link" })</p></button>
            <button><p>Highlights</p></button>
            <button><p>@Html.ActionLink("Combo Deals", "ComboDeal", "ComboDeal", null, new { @Class = "link" })</p></button>
        </aside>
        <section class="content">
            @RenderBody()
        </section>
    </section>
    <footer>
        <ul class="footer-left">
            <li><h6>@Html.ActionLink("Home", "Index", "Home", null, new { @Class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Movies", "MovieOverview", "Movies", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Specials", "SpecialOverview", "Special", null, new { @Class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Food", "FoodOverview", "Food", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Culture", "MuseumOverview", "Culture", null, new { @class = "link" })</h6></li>
        </ul>
        <ul class="footer-middle">
            <li><h6>@Html.ActionLink("Locations", "Locations", "Locations", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("About Us", "AboutUs", "AboutUs", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Contact", "Contact", "Contact", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Hotels", "HotelsOverview", "Hotels", null, new { @class = "link" })</h6></li>
        </ul>
        <ul class="footer-right">
            <li><h6>@Html.ActionLink("WishList", "Index", "WishList", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Cart", "Index", "Cart", null, new { @class = "link" })</h6></li>
            <li><h6>@Html.ActionLink("Maintenance", "LogIn", "Employee", null, new { @Class = "link" })</h6></li>
        </ul>
    </footer>
</body>
</html>
